<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="personform">
			<h:panelGrid columns="2">

				<h:outputText value="#{msg.personFirstNameLabel}" />
				<h:inputText id="name" value="#{personBean.person.firstName}" />

				<h:outputText value="#{msg.personPinLabel}" />
				<h:inputText id="yob" value="#{personBean.person.pin}" />
				
				<h:outputText value="#{msg.personDobLabel}" />		
				<rich:calendar value="#{personBean.person.dateOfBirth}"
					id="calendar" datePattern="dd.MM.yyyy" showApplyButton="#{true}"
					cellWidth="24px" cellHeight="22px" style="width:200px">
				</rich:calendar>
				
			</h:panelGrid>

			<h:commandButton value="#{msg.personFormOKButton}"
				action="#{personBean.addPerson}" styleClass="btn btn-primary"/>
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>