<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
    
     <h:dataTable value="#{personBean.allPersons}" var="item" styleClass="table table-hover">
      <f:facet name="header">#{msg.personAllLabel}</f:facet>
      
      <h:column>
        <f:facet name="header">#{msg.personFirstNameLabel}</f:facet>
        #{item.firstName}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.personPinLabel}</f:facet>
        #{item.pin}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.personDobLabel}</f:facet>
        #{item.dateOfBirth}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.action}</f:facet>
        <h:commandLink value="#{msg.actionDelete}" action="#{personBean.deletePerson}"/>
      </h:column>
      
     </h:dataTable>
    </h:form>
      
	</ui:define>
	
</ui:composition>